body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000011+11,000011+11,000011+11,000011+11,000011+12,c6f4f1+12,c6f4f1+12,b8d1d3+87,000011+87,000011+87,000011+94,000011+94 */
background: #000011; /* Old browsers */
background: -moz-linear-gradient(left,  #000011 11%, #000011 11%, #000011 11%, #000011 11%, #000011 12%, #c6f4f1 12%, #c6f4f1 12%, #b8d1d3 87%, #000011 87%, #000011 87%, #000011 94%, #000011 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #000011 11%,#000011 11%,#000011 11%,#000011 11%,#000011 12%,#c6f4f1 12%,#c6f4f1 12%,#b8d1d3 87%,#000011 87%,#000011 87%,#000011 94%,#000011 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #000011 11%,#000011 11%,#000011 11%,#000011 11%,#000011 12%,#c6f4f1 12%,#c6f4f1 12%,#b8d1d3 87%,#000011 87%,#000011 87%,#000011 94%,#000011 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000011', endColorstr='#000011',GradientType=1 ); /* IE6-9 */
  
}

p {
   font-size: 16px;
   color: #696969;
   width: 250px;
   margin-top: 10px;
   font-family:"Trebuchet MS", Helvetica, sans-serif;
}

h1 {
	color: white;
	font-size: 55px;
	margin: 0px 0px -5px 50px;
}

.img-my-thumbnail {
	margin-top: 20px;
	height: 230px;
	width: 245px;
}

div {
	margin: 0px 160px 0px 210px;
}
